@import url('https://fonts.googleapis.com/css2?family=Poppins:200i,400&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://img.freepik.com/free-vector/prickly-juniper-branch-beige-gray-minimal-background_53876-113047.jpg?w=1380&t=st=1719654384~exp=1719654984~hmac=dafb56c30f1a21ce82f9643aaa1a0fdc53e92e213f6607bcddf8ef5dafafe9e1");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  ::-webkit-scrollbar {
    width : 15px;
  }
  
  ::-webkit-scrollbar-track {
    border: 1px solid;
    border-radius: 5px;
    background: rgb(202, 202, 197);
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    font-weight: bold ;
  }
  
  .front_page {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .welcome .hello{
    font-size: 5em;
  }
  
  .main_date .title{
    text-align: center;
    color: #fff;
    width: 18rem;
    background: #000;
    text-align: center;
    padding: 0.5rem 2rem;
    font-family: "notosans_jp_700", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 700;
  }
  
  .main_date .text{
    text-align: center;
    color: #000;
    width: 18rem;
    flex-grow: 1;
    background: #fff;
    padding: 0.5rem 2rem;
    font-family: "notosans_jp_700", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 700;
  }
  
  @media screen {
    .topic_list {
      width: 55%;
      margin : -2rem 0 0 auto;
    }
  }
  
  .topic_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .topic_list .date {
      font-size: 1.6rem;
      text-align: center;
      padding: 1.6rem 2rem;
      margin: 0;
      height: 1rem;
      transition: all 0.3s ease;
      position: relative;
      border-bottom: 1px solid #212121;
  }
  
  @media screen and (max-width: 1180px) {
      .topic_list .text:lang(en) {
          font-size: 1.6rem;
      }
  }
  
  .topic_list .text {
      min-height: 18.7rem;
  }
  
  .topic_list .text {
      font-family: "notosans_jp_500", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
      font-weight: 500;
      padding: 2.5rem 2rem;
      height: calc(100% - 6rem);
  }
  
  .topic_list .date, .topic_list .text {
      width: 100%;
  }
  
  .first_box {
    width : 320px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
  }
  
  .second_box {
    width : 320px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    background : white;
  }
  
  .third_box {
    width : 320px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: purple;
    background : white;
  }
  
  .forth_box {
    width : 320px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
  }

  form {
    margin: 0px;
    font-size: 15px;
    margin : auto;
    color : white;
    background-color: darkslateblue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1000px);
    padding: 25px;
    border-radius: 1%;
    max-width: 800px;
  }

  header {
    text-align: center;
    line-height: 10pt;
    color : white;
    padding: 10pt;
  }

  #survey-title {
    font-size: 1.7em;
    font-weight: bold;
  }

  input[type = "text"], input[type = "email"], input[type = "number"], select, button, textarea {
    width: 100%;
    padding: 5px;
    margin : 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    color : grey;
    font-family: inherit;
    font-size : 1rem;
  }

  label, form > p {
    font-family: inherit;
    font-stretch: expanded;
    line-height: 2.5;
    font-size: 1.2rem;
  }

  #submit{
    background-color: lightblue;
    color: black;
    height: 35px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px; 
    border: 0px;
    font-family: 'Raleway', Helvetica, sans-serif,Arial;
  }

  form > p {
    margin-bottom: 0;
  }

  input[type="checkbox"], input[type="radio"]{
    display: inline-block;
    height: 1rem;
  }

  #reset{
    background-color: lightblue;
    color: black;
    height: 35px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px; 
    border: 0px;
    font-family: 'Raleway', Helvetica, sans-serif,Arial;
  }

  textarea {
    height: 7erm;
    width: 100erm;
  }
  
  #map {
    position : absolute;
  }
  
  #map .title {
    text-align: center;
  }
  
  #media {
    position : absolute;
    right : 100px;
  }
  
  #media .title {
    text-align: center;
  }

  .content {
    display: flex;
    margin-top: 40px;
  }

  .icon {
	background-color: white;
	border-radius: 30px;
	padding: 15px;
	vertical-align: top;
}

.contact-info {
	display: inline-block;
	padding: 4px 20px 0px 20px;
}

.address-line {
	margin-top: 40px;
}

.col-1 {
	width: 530px;
}